@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');

body{background: #000;}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
	  font-family: 'Cutive Mono', monospace;
}
#canvas{
	position: fixed;
}
.container{
    	text-align: left;
}		
div.clear {
    clear:both;
}

body {
    /*overflow: hidden;*/
    background-color: #fff;
}

a:link {
	color: #FFF;
    text-decoration: none;
}

a:visited {
	color: #FFF;
    text-decoration: none;
}

a:hover {
	color: #FFF;
    text-decoration: none;
}

a:active {
	color: #FFF;
    text-decoration: none;
}

.container{
	padding: 0% 3%;
}
.topic{
	font-family: 'Cutive Mono', monospace;
	font-size: 5vw;
  width: 50vw;
  height: 35vh;
  position: fixed;
  top: 35%;
  left: 0%;
	color: #FFF;
	text-align: right;
}
#mainTopic{
  background: rgba(0,0,0,0.7);
  padding: 20px;
/*  border: 1px solid white;*/
}
#mainTopic h1{
  margin-bottom: 20px;
}
#subMainTopic{
	font-size:1.5vw;
}
#subMainTopic2{
  margin-top: 15px;
	font-size:1vw;
}
.topic span {
  font-size: 1vw;
}
.topic1{
	font-size: 4vw;
}
#mainTopic1{
  top: 20%;
  left: 42%;
  line-height: 80%;
  color: #FFF;
  background: #000;
}
#subMainTopic1{
	color: #FFF;
  background: #000;
	font-size: 2vw;
}

#fourthIntro {
	font-size: 15px;
	position: absolute;
	width: 30vw;
	bottom: 0vh;
	right: 0%;
	text-align: left;
	color: #FFF;
  background: #000;
  padding: 20px;
}

#logo{
	position: absolute;
/*	bottom: 3vh;*/
		top: 3vh;

}

.btn02 {
    width: 100%;
    overflow: hidden;
    position: relative;
    right: -10%;
    top: -50%;
    -webkit-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
}
.btn02 img {
    position: relative;
    width: 10%;
    top: 0;
    right: 0;
}
.btn02 .ovrly {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: -100%;
    top: 0;
    width: 100%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.btn02 .buttons {
    position: absolute;
    top: 50%;
    left: -100%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
/*.btn02 .buttons .fa {
    margin: 0 1px;
    background: rgba(256, 256, 256, 0.9);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: rgba(50, 50, 50, 0.9);
    display: inline-block;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    width: 40px;
    height: 40px;
}*/
.btn02:hover .buttons {
    left: 10%;
}
.btn02:hover .ovrly {
    left: 0;
}

@media screen and (max-width: 700px) {
    body {
    	width: 97%;
        padding: 0vw;
    }
    .container{
    	width: 97%;
    	text-align: center;
    }
    #fourthIntro{
    	position: relative;
    	width: 96%;
    	text-align: center;
		border: 1px solid;

    }
    
	.topic{
		width: 98%;
		height: 50%;
    	position: relative;
	    font-size: 16vw;
	   	top: 10vh;
	}
	#mainTopic{
		position: relative;
		top:0;
		left: 4vw;
		padding: 8%;
		font-size: 18vw;
	}
	#subMainTopic{
		font-size: 9vw;
	}

/*	#logo{
		position: relative;
	}
	#logo img{

		 margin:0 auto; 
	}*/

	.topic1{
		width: 98%;
		height: 50%;
    	position: relative;
	    font-size: 10vw;
	   	top: 10vh;
	}
	#mainTopic1{
		position: relative;
		top:0;
		left: 20vw;
		padding: 8%;
		font-size: 10vw;


	}
	#subMainTopic1{
		font-size: 5vw;
	}

}